{% extends "layout/basic.html" %}

{% block title %}{{current_rubric.name}}{% endblock %}

{% block content %}
<h2>Рубрика: {{current_rubric.name}}</h2>
{% for bb in bbs%}
<div>
    <h2><a href="{% url 'bboard:detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
    <p>{{bb.content}}</p>
    <p>{{ bb.price|default:'У товара нет цены' }}
    <p>{{bb.published|date:'DATETIME_FORMAT'}}</p>
    <p><a href="{% url 'bboard:correct' pk=bb.pk %}">{{ 'Исправить' }}</a></p>
    <p><a href="{% url 'bboard:confirm_delete' pk=bb.pk %}">{{ 'Удалить' }}</a></p>
</div>
{% endfor %}
{% endblock %}